.postPaper {
    margin-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.postDiv {
    display: flex;
    flex-direction: column;
}

.postInfo {
    display: block;
}

.nameStyle {
    float: left;
}

.dateStyle {
    float: right;
    text-align: right;
}